<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Let's make a form!</h1>

  <p id="demo">
    This is me testing out a lil html file
  </p>

  <p>
    <button type="button" onclick="myFunction()">
    Try it
    </button>
  </p>

  <p> 
      <h2> Form! </h2> 
  </p>
  <p> 
    <form>
      First Name: 
      	<br>
      	<input type="text" name="firstname">
      	<br>
      	<br>
      Last Name: 
      	<br>
				<input type="text" name="lastname"><br><br>
  		Gender:<br>
  			<label><input type="radio" name="gender" value="female" checked="" />Female</label><br>
  			<label><input type="radio" name="gender" value="male" />Male</label><br>
  			<label><input type="radio" name="gender" value="other" />Other</label>
  			<br>
  			<br>

  		<input type="submit" value="Submit">

  	</form>
  </p>



</body>

</html>