<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Local files -->
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>

</head>
<body class="container">

	<main>
		<div class="jumbotron">
			<h1>It's all happening</h1>
			<p><h2><center><small>Our first Web App</small></center></h2></p>
			<p><center><marquee>We are so freaking excited about this and we hope that the rest of you are and I know that marquees are kind of tacky but I love them because they were the most exciting thing I could do on html when I was on neopets</marquee></center>
		</div>
			<iframe src="//giphy.com/embed/n5aPq3NIKHvIk" width="480" height="213" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
			<p>


</body>
</html>